<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/category-bg.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{127,77}</string>
			<key>spriteSourceSize</key>
			<string>{127,77}</string>
			<key>textureRect</key>
			<string>{{0,0},{127,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/category-dot.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,77}</string>
			<key>spriteSourceSize</key>
			<string>{77,77}</string>
			<key>textureRect</key>
			<string>{{129,0},{77,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/changelog.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,51}</string>
			<key>spriteSourceSize</key>
			<string>{40,51}</string>
			<key>textureRect</key>
			<string>{{208,0},{40,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/double-nav.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-5}</string>
			<key>spriteSize</key>
			<string>{89,122}</string>
			<key>spriteSourceSize</key>
			<string>{89,131}</string>
			<key>textureRect</key>
			<string>{{0,79},{89,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/featured-bg.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{196,49}</string>
			<key>spriteSourceSize</key>
			<string>{209,62}</string>
			<key>textureRect</key>
			<string>{{0,170},{196,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/filters.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{46,44}</string>
			<key>spriteSourceSize</key>
			<string>{46,45}</string>
			<key>textureRect</key>
			<string>{{208,42},{46,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/gift.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{63,63}</string>
			<key>spriteSourceSize</key>
			<string>{63,63}</string>
			<key>textureRect</key>
			<string>{{198,88},{63,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/github.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{63,63}</string>
			<key>spriteSourceSize</key>
			<string>{63,63}</string>
			<key>textureRect</key>
			<string>{{198,153},{63,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/hue-sliders.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{89,89}</string>
			<key>spriteSourceSize</key>
			<string>{89,89}</string>
			<key>textureRect</key>
			<string>{{198,218},{89,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/info-alert.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47,47}</string>
			<key>spriteSourceSize</key>
			<string>{47,47}</string>
			<key>textureRect</key>
			<string>{{0,221},{47,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/info-warning.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,55}</string>
			<key>spriteSourceSize</key>
			<string>{57,57}</string>
			<key>textureRect</key>
			<string>{{49,221},{57,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/install.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{44,47}</string>
			<key>spriteSourceSize</key>
			<string>{47,47}</string>
			<key>textureRect</key>
			<string>{{108,221},{44,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/pencil.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,57}</string>
			<key>spriteSourceSize</key>
			<string>{57,57}</string>
			<key>textureRect</key>
			<string>{{108,267},{57,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reset-gold.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{60,57}</string>
			<key>spriteSourceSize</key>
			<string>{61,61}</string>
			<key>textureRect</key>
			<string>{{0,278},{60,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reset.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{60,57}</string>
			<key>spriteSourceSize</key>
			<string>{61,61}</string>
			<key>textureRect</key>
			<string>{{167,309},{60,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/sort.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,44}</string>
			<key>spriteSourceSize</key>
			<string>{44,44}</string>
			<key>textureRect</key>
			<string>{{62,278},{44,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-available.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{58,58}</string>
			<key>textureRect</key>
			<string>{{229,309},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-failed.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{58,58}</string>
			<key>textureRect</key>
			<string>{{62,326},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-installed.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{58,58}</string>
			<key>textureRect</key>
			<string>{{0,337},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/APISheet-hd.png</string>
		<key>size</key>
		<string>{287,395}</string>
		<key>textureFileName</key>
		<string>geode.loader/APISheet-hd.png</string>
	</dict>
</dict>
</plist>