<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/baseAccount_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,42}</string>
			<key>spriteSourceSize</key>
			<string>{44,42}</string>
			<key>textureRect</key>
			<string>{{0,0},{44,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,42}</string>
			<key>spriteSourceSize</key>
			<string>{44,42}</string>
			<key>textureRect</key>
			<string>{{46,0},{44,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Purple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,42}</string>
			<key>spriteSourceSize</key>
			<string>{44,42}</string>
			<key>textureRect</key>
			<string>{{92,0},{44,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCategory_Big_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{101,101}</string>
			<key>spriteSourceSize</key>
			<string>{104,104}</string>
			<key>textureRect</key>
			<string>{{138,0},{101,101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{56,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,60}</string>
			<key>textureRect</key>
			<string>{{241,0},{56,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{56,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,60}</string>
			<key>textureRect</key>
			<string>{{301,0},{56,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{56,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,60}</string>
			<key>textureRect</key>
			<string>{{0,44},{56,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{56,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,60}</string>
			<key>textureRect</key>
			<string>{{60,44},{56,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{56,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,60}</string>
			<key>textureRect</key>
			<string>{{241,58},{56,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{301,58},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{0,102},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{58,102},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{116,103},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{174,103},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{80,81}</string>
			<key>spriteSourceSize</key>
			<string>{80,83}</string>
			<key>textureRect</key>
			<string>{{301,114},{80,81}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{80,81}</string>
			<key>spriteSourceSize</key>
			<string>{80,83}</string>
			<key>textureRect</key>
			<string>{{0,158},{80,81}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{80,81}</string>
			<key>spriteSourceSize</key>
			<string>{80,83}</string>
			<key>textureRect</key>
			<string>{{83,159},{80,81}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{80,82}</string>
			<key>spriteSourceSize</key>
			<string>{80,83}</string>
			<key>textureRect</key>
			<string>{{166,159},{80,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{80,82}</string>
			<key>spriteSourceSize</key>
			<string>{80,83}</string>
			<key>textureRect</key>
			<string>{{250,196},{80,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{52,55}</string>
			<key>spriteSourceSize</key>
			<string>{52,57}</string>
			<key>textureRect</key>
			<string>{{334,196},{52,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{52,55}</string>
			<key>spriteSourceSize</key>
			<string>{52,57}</string>
			<key>textureRect</key>
			<string>{{0,240},{52,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{52,55}</string>
			<key>spriteSourceSize</key>
			<string>{52,57}</string>
			<key>textureRect</key>
			<string>{{57,241},{52,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{52,55}</string>
			<key>spriteSourceSize</key>
			<string>{52,57}</string>
			<key>textureRect</key>
			<string>{{114,241},{52,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{52,55}</string>
			<key>spriteSourceSize</key>
			<string>{52,57}</string>
			<key>textureRect</key>
			<string>{{171,241},{52,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{46,49}</string>
			<key>textureRect</key>
			<string>{{334,253},{46,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{46,49}</string>
			<key>textureRect</key>
			<string>{{228,278},{46,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{46,49}</string>
			<key>textureRect</key>
			<string>{{279,278},{46,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{46,49}</string>
			<key>textureRect</key>
			<string>{{0,294},{46,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{46,49}</string>
			<key>textureRect</key>
			<string>{{51,295},{46,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,44}</string>
			<key>spriteSourceSize</key>
			<string>{41,44}</string>
			<key>textureRect</key>
			<string>{{102,295},{41,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,44}</string>
			<key>spriteSourceSize</key>
			<string>{41,44}</string>
			<key>textureRect</key>
			<string>{{148,295},{41,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,44}</string>
			<key>spriteSourceSize</key>
			<string>{41,44}</string>
			<key>textureRect</key>
			<string>{{330,301},{41,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,44}</string>
			<key>spriteSourceSize</key>
			<string>{41,44}</string>
			<key>textureRect</key>
			<string>{{194,326},{41,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,44}</string>
			<key>spriteSourceSize</key>
			<string>{41,44}</string>
			<key>textureRect</key>
			<string>{{240,326},{41,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{38,41}</string>
			<key>textureRect</key>
			<string>{{286,326},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{38,41}</string>
			<key>textureRect</key>
			<string>{{102,338},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{38,41}</string>
			<key>textureRect</key>
			<string>{{145,338},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{38,41}</string>
			<key>textureRect</key>
			<string>{{0,342},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{38,41}</string>
			<key>textureRect</key>
			<string>{{43,343},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,29}</string>
			<key>textureRect</key>
			<string>{{329,344},{26,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,29}</string>
			<key>textureRect</key>
			<string>{{360,344},{26,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,29}</string>
			<key>textureRect</key>
			<string>{{286,366},{26,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,29}</string>
			<key>textureRect</key>
			<string>{{188,369},{26,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,29}</string>
			<key>textureRect</key>
			<string>{{219,369},{26,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCross_Huge_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{109,109}</string>
			<key>spriteSourceSize</key>
			<string>{114,114}</string>
			<key>textureRect</key>
			<string>{{0,383},{109,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCross_Small_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{70,70}</string>
			<key>spriteSourceSize</key>
			<string>{73,73}</string>
			<key>textureRect</key>
			<string>{{317,375},{70,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Aqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{250,369},{33,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{111,378},{33,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_DarkGray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{149,378},{33,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{187,397},{33,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{225,407},{33,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_LightBlue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{263,407},{33,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Orange.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{111,413},{33,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{149,413},{33,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Teal.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{187,432},{33,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Selected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,35}</string>
			<key>spriteSourceSize</key>
			<string>{33,35}</string>
			<key>textureRect</key>
			<string>{{225,442},{33,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Unselected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,35}</string>
			<key>spriteSourceSize</key>
			<string>{33,35}</string>
			<key>textureRect</key>
			<string>{{262,442},{33,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseLeaderboard_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,34}</string>
			<key>spriteSourceSize</key>
			<string>{36,34}</string>
			<key>textureRect</key>
			<string>{{299,447},{36,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_Selected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,32}</string>
			<key>spriteSourceSize</key>
			<string>{92,32}</string>
			<key>textureRect</key>
			<string>{{111,467},{92,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_Unselected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,32}</string>
			<key>spriteSourceSize</key>
			<string>{92,32}</string>
			<key>textureRect</key>
			<string>{{205,477},{92,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_UnselectedDark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,32}</string>
			<key>spriteSourceSize</key>
			<string>{92,32}</string>
			<key>textureRect</key>
			<string>{{0,494},{92,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/BlankSheet.png</string>
		<key>size</key>
		<string>{387,526}</string>
		<key>textureFileName</key>
		<string>geode.loader/BlankSheet.png</string>
	</dict>
</dict>
</plist>